* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  -webkit-font-smoothing: antialiased;
  background-size: 100% 100%;
  background-attachment: fixed;
}
header {
  padding: 5px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  /*background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);*/
  background-color: #e8ebf1;
  -webkit-box-shadow: -12px 54px 252px -25px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -12px 54px 252px -25px rgba(0, 0, 0, 0.57);
  box-shadow: -12px 54px 252px -25px rgba(0, 0, 0, 0.57);
}

.menu-icon:hover {
  cursor: pointer;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  background-color: #d5dceb;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}
/* User Menu */
.username {
  text-decoration-line: underline;
}
.username:hover {
  cursor: pointer;
}
.user-menu {
  position: absolute;
  top: 45px;
  right: 20px;
  width: 13%;
  flex-direction: column;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transform: translate(0, -150%);
  transition: all 500ms ease-in-out;
  background-color: #dfe3eb;
}
.user-menu ul {
  list-style-type: none;
}
.user-menu ul li {
  font-family: "Quicksand", Courier, monospace;
  font-size: 14px;
  padding: 7px 10px;
}
.user-menu ul li:hover {
  cursor: pointer;
  background-color: #a7b6d6;
}
.user-menu.active {
  transform: translate(0%);
}
.user-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-image: linear-gradient(to top, #cacfda 0%, #afbddb 100%);
  background-size: 100% 40%;
  background-repeat: no-repeat;
}
.user-info p {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-decoration-line: underline;
}
.user-info p:hover {
  cursor: pointer;
}
.user-icon {
  padding: 10% 12%;
  border-radius: 50%;
  background-color: rgb(119, 124, 131);
}

/* Sidebar */
.sidebar {
  height: auto;
  width: 65px;
  background-image: linear-gradient(to top, #b7c2d8 0%, #eef1f5 100%);
  transition: width 500ms ease-in-out;
}
.sidebar.expanded {
  width: 205px;
}
.sidebar ul {
  list-style-type: none;
}
.option {
  display: flex;
  flex-direction: row;
}
.option div {
  min-width: 4px;
}
.option li {
  min-width: 60px;
  padding: 15px 20px;
}
.option h4 {
  min-width: 140px;
  font-family: "Quicksand", Courier, monospace;
  padding: 15px 30px 15px 5px;
}
.option:hover div {
  cursor: pointer;
  background-color: #7d92c4;
}
.option:hover {
  cursor: pointer;
  text-decoration-line: underline;
  background-color: #d5dceb;
}
.option:hover li {
  cursor: pointer;
  background-color: #a3b1cf;
}

/*Flex*/
.flex-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.colums-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  grid-template-rows: 205px;
  gap: 20px;
  padding: 10px;
  background-image: linear-gradient(to top, #d5dceb 0%, #eef1f5 100%);
  width: 100%;
  text-align: center;
}
.project-section {
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-height: 200px;
  border: 1px solid #8d9fc7;
  background-color: #d8dde9;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-family: "Quicksand", Courier, monospace;
}
.header-project-section {
  border-bottom: 1px solid rgb(141, 137, 137);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header-project-section i {
  background-color: #aab3c9;
  padding: 5px;
  margin-bottom: 2px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.description-project-section {
  text-align: justify;
  font-size: small;
  flex-grow: 1;
  overflow: auto;
  margin: 5px 0;
}
.dates-project-section {
  width: 100%;
  background-color: #aab3c9;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
}
.dates-project-section i {
  cursor: pointer;
}
/*-----button add-----*/
.add-button {
  position: fixed;
  top: 96%;
  left: 97%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  color: white;
  padding: 16px 20px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
}
.add-project {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to top, #ccd6ee 0%, #d2dae6 100%);
  color: rgb(5, 5, 5);
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #8d9fc7;
  font-family: "Quicksand", Courier, monospace;
  width: 400px;
  height: auto;
  visibility: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.add-project.active {
  visibility: visible;
}
/*-------new project window--------*/
.header-add-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-add-project i {
  cursor: pointer;
  padding: 10px;
  background-color: #7080a5;
  border-radius: 5px;
}
.add-project form {
  display: flex;
  flex-direction: column;
}
.project-input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.add-project form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2e5c83;
  color: #0c3483;
}
.add-project form textarea {
  resize: none;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2e5c83;
  color: #0c3483;
}
input::placeholder,
textarea::placeholder {
  opacity: 0.9;
  color: #0c3483;
  font-family: "Quicksand", Courier, monospace;
}
.date {
  gap: 10px;
  display: grid;
  margin-top: 20px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.button-create_project {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.button-create_project button {
  padding: 10px;
  background-color: #7080a5;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  border: none;
}
/*-------notifications window--------*/
.notifications-section {
  display: flex;
  gap: 10px;
  position: fixed;
  width: 250px;
  bottom: 0px;
  right: 5px;
  background-color: #8fa0c7;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition: 1s;
}
.notifications-section.active {
  visibility: visible;

  opacity: 1;
  bottom: 70px;
}
.notifications p {
  margin-top: 10px;
}
.notifications-section div button {
  margin-top: 10px;
  width: 100%;
  padding: 5px 0;
  background-color: #7082ad;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
